* {
  border: none;
  font-family: "Terminus", monospace;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: black;
  color: #ebdbb2;
}

#workspaces {
  background-color: black;
  font-weight: bold;
}
#workspaces button {
  padding: 0px 5px;
  color: #ebdbb2;
}

#workspaces button.active {
  color: black;
  background-color: #ebdbb2;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #b8bb26;
  color: black;
  border-radius: 0px;
}

#window,
#pulseaudio,
#custom-randwall,
#custom-window,
#custom-layout,
#custom-power,
#custom-player_icon {
  background-color: black;
  padding: 0px 10px 0px 10px;
}

#custom-date {
  color: #d3869b;
  padding: 0px 10px 0px 10px;
}

#temperature {
  color: #fb4934; 
  padding: 0px 10px 0px 10px;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#tray {
  background-color: #000000;
  padding: 0px 10px 0px 10px;
}

#clock {
  color: #b8bb26;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}

#memory {
  color: #83a598;
  padding: 0px 10px 0px 10px;
}
#cpu {
  color: #b8bb26;
  padding: 0px 10px 0px 10px;
}

#battery {
  color: #9ece6a;
  padding: 0px 10px 0px 10px;
}

#battery.charging {
  color: #9ece6a;
  padding: 0px 10px 0px 10px;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  padding: 0px 10px 0px 10px;
}

#backlight, 
#language {
  background-color: black;
  color: #83a598;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0px 5px 0px 5px;
}

#network {
  color: #fb4934;
  padding: 0px 10px 0px 10px;
}

#pulseaudio {
  color: #fabd2d;
  margin-left: 0px;
}

#pulseaudio.muted {
  background-color: black;
  color: #928374;
  margin-left: 0px;
}

#custom-rofi {
color: #d3869b;
padding: 0px 10px 0px 10px;
}

#custom-randwall {
  color: #d3869b;
}

#custom-playerctl {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-style: italic;
}
